@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.main {
  padding: 2rem;
  min-height: 100vh;
  font-family: 'Muli', sans-serif;

}

.limiter{
  background-color: rgb(220, 215, 215);
  padding: 2px;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(117, 117, 117);
}

.limiterorder{
  margin-top: 1em;
  background-color: rgb(220, 215, 215);
  padding: 2px;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(117, 117, 117);
  display:none;
}

.entry{
  margin-left: 0.5em;
}

.formorder{
  width: 250px;
}

.message{
  width: 98%;
}

.menu{
  color:rgb(33, 52, 106);
  margin-left: 1em;
  cursor: pointer;
  text-decoration: underline;
}
.menu:hover {
  background-color: rgb(226, 226, 226);
}

.divider{
  margin-bottom: em;
}

.lg{
  border-style:solid;
  border-radius:25px;
}

.patientez{
  font-size: 18px;
  color: rgb(78, 78, 108);
}